@tailwind base;
@tailwind components;
@tailwind utilities;


.centered {
  @apply flex items-center justify-center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: var(--font-fk-screamer)
}
body {
  font-family: var(--font-neutrif-studio)
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #050505;
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: #FAFAFA;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }
}

/* swiper styels */
.swiper {
  width: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}
